<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repair Submission Form</title>
</head>
<body>
    <form action = "http://localhost:5000/result" method = "POST" >
        <p>Name: <input type = "text" name = "Name" /> <p>
        <p>Email: <input type = "text" name = "Email" /> </p>
        <p>Phone Number: <input type = "text" name = "phone" /> </p>
	<fieldset>
            <legend>Vehicle</legend>
            <p>Make: <input type = "text" name = "vehicleMake" /></p>
            <p>Model: <input type = "text" name = "vehicleModel" /> </p>
            <p>Year: <input type = "text" name = "vehicleYear" /> </p>
            <p>OR</p>
            <p>Vin Number: <input type = "text" name = "vinNum" /> </p>
        </fieldset>
	<fieldset>
            <legend>Repair</legend>
            <select>
		    <option name = "null" value = ""> </option>
		    <option name="oilChange" value = "oilchange">Oil Change</option>
		    <option name="Brakes" value = "Brakes"> Brake Replacement</option>
		    <option name="Other" value = "Other"> Other</option>
            </select>
            <p>Describe Your Repair</p>
	    <textarea name = "repairDescription" rows="10" cols="30">
            </textarea>
        </fieldset>
        <p><input type = "submit" value = "submit"></p>
    </form>
</body>
</html>
