/* Css Document */

* {
  margin: 0;
  padding: 0;
  background-color: #F7FFF7;
}

:focus {
  outline: none;
}

html {
  -ms-touch-action: none;
}

header {
  position: absolute;
  height: 0;
}

.request {
  position: relative;
  height: 150px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #312F2F;
}

.vehicle {
  position: relative;
  width: 500px;
  font-size: 40px;
  color: #F7FFF7;
  background: transparent;
  font-family: 'Nunito Sans', sans-serif;
}

.vin {
  position: relative;
  width: 500px;
  font-size: 25px;
  color: #F7FFF7;
  background: transparent;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.customer {
  position: relative;
  width: 500px;
  font-size: 25px;
  color: #F7FFF7;
  background: transparent;
  font-family: 'Nunito Sans', sans-serif;
}

.button-wrapper {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  margin-right: 12px;
  background: transparent;
}

.info-wrapper {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 500px;
  margin-right: 0px;
  background: transparent;
}

.generics-wrapper {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  margin-left: 12px;
  background: transparent;
}

.circle-button {
  position: relative;
  background: transparent;
  border-color: #F7FFF7;
  border-width: 5px;
  border-style: solid;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  text-align: center;
}

.triangle {
  position: absolute;
  left: 10px;
  top: 20px;
  background: transparent;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #F7FFF7;
  transition: 0.5s;
}

.circle-button:active .triangle {
  transition: 0.1s;
  transform: translateY(5px);
}

.multi-button {
  position: relative;
  height: 70px;
  width: 200px;
  font-size: 30px;
  color: #FF00FF;
  margin: 0;
  border-color: #FF00FF;
  border-width: 5px;
  border-style: solid;
  background: transparent;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.2s;
}

.multi-button:active {
  border-radius: 20px;
}

.multi-button:hover .tooltip:after {
  visibility: visible;
  opacity: 1;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.tooltip::after {
  filter: blur(100px);
  -webkit-filter: blur(100px);
  visibility: hidden;
  width: 500px;
  background-color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  color: #F7FFF7;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  bottom: 125%;
  left: 50%;
  margin-left: -250px;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.circle-button:hover .tooltip:after {
  visibility: visible;
  opacity: 1;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.circle-button .tooltip:after {
  content: "Quite a lot of info can be displayed in these boxes, as they expand downwards.";
  bottom: -150%;
}

.accept, .accept:after {
  content: "ACCEPT";
  color: #7CA982;
  border-color: #7CA982;
}

.accept .tooltip:after {
  content: "Accept the request.";
}

.deny, .deny:after {
  content: "DENY";
  color: #FF6542;
  border-color: #FF6542;
}

.deny .tooltip:after {
  content: "Deny the request.";
}

.print, .print:after {
  content: "PRINT";
  color: #FCBA04;
  border-color: #FCBA04;
}

.print .tooltip:after {
  content: "Download information about the request.";
}

.complete, .complete:after {
  content: "COMPLETE";
  color: #FCBA04;
  border-color: #FCBA04;
}

.complete .tooltip:after {
  content: "Mark the request as completed. (sends email to customer)";
}
