/* Scss Document */

$accent: #FFBC21;
$dark: #050505;
$neutral: #EAEAEA ;
$light: #FAFAFA;
$secondary: #323232;
$selection: #FFFFFF;
$easing-equation: cubic-bezier(0.50,0.20,0.25,1.00);
$easing-duration: 0.5s;

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: $selection;
  background: none;
}

::selection {
  color: $selection;
  background: none;
}

:focus {
  outline: none;
}

html {
  -ms-touch-action: none;
}

header {
  position: absolute;
  height: 0;
}

.request {
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: $accent;
}



/*.page {
  z-index: 1;
  height: auto;
  background-color: $light;
}

.products {
  height: auto;
  background-color: $light;
  padding: 100px 0 100px 0;
}

.product {
  z-index: 0;
  position: relative;
  height: 600px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product div {
  z-index: 3;
  position: absolute;
  height: 600px;
  width: 600px;
  background: $neutral;
  right: 0px;
}

.product img {
  z-index: 4;
  object-fit: contain;
  width: 100%;
  height: 100%
}

.product h1 {
  z-index: 5;
  position: absolute;
  font-size: 125px;
  font-family: 'Nunito Sans', sans-serif;
  color: $secondary;
  transform: rotate();
  text-align: left;
  height: 200px;
  width: 800px;
  top: 0px;
  left: 0px;
  white-space: nowrap;
}

.product h2 {
  z-index: 5;
  position: absolute;
  font-size: 25px;
  font-family: 'Nunito Sans', sans-serif;
  color: $accent;
  transform: rotate();
  text-align: left;
  height: 200px;
  width: 800px;
  top: 0px;
  left: 0px;
  white-space: nowrap;
}

.product .info-button {
  z-index: 5;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
  padding: 10px 24px 8px 24px;
  color: $secondary;
  border-color: $secondary;
  border-width: 3px;
  border-style: solid;
  background: transparent;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  transition: transform 0.2s;
  transform: translate(0, 0);
}

.product .info-button:active {
  transform: translate(0, 5px);
}

.product .info-modal {
  z-index: 1;
  transition: transform 2s;
  position: absolute;
  right: 0px;
  background: $neutral;
}




$horizontal: 16px;
$vertical: 10px;

.btn-black {
  top: 200px;
  font-size: 20px;
  padding: 10px 24px 8px 24px;
  border-color: $dark;
  border-width: 3px;
  border-style: solid;
  background: transparent;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  transition: transform 0.2s;
  transform: translate(0, 0);
  color: $dark;
}

.btn-black:hover {
  transform: translate($horizontal, -$vertical);
}

.btn-black:active {
  transform: translate($horizontal / 2, -$vertical / 2);
}

.btn-black:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translate($horizontal, -$vertical);
  transition: transform 0.2s;
  background: transparent;
  border-color: $dark;
  border-width: 3px;
  border-style: solid;
}

.btn-black:hover:before {
  transform: translate(-$horizontal, $vertical);
}

.btn-black:active:before {
  transform: translate(0, 0);
}*/