
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:900" rel="stylesheet">



		<link rel="stylesheet" href="static/stylesheet.css">

		<script type="text/javascript" src="hell.js"></script>

		<title>NCHS Auto Shop</title>

	</head>

	<body onload="handleClicks()">
		<header>
		</header>

		<section>
			{% for repID in RepairIDs %}
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle"> {{getVehicleYear(getAssociatedVehicle(repID))}} {{getVehicleMake(getAssociatedVehicle(repID))}} {{getVehicleModel(getAssociatedVehicle(repID))}} </div>
					<div class="vin">  {{getVehicleVIN(getAssociatedVehicle(repID))}} </div>
					<div class="customer">  {{getCustomerName(getAssociatedCustomer(repID))}} </div>
					<div class="information">  {{getRepairType(repID)}} : {{getRepairDescription(repID)}} </div>
				</div>
				
				<div class="button-wrapper">
					<button class="multi-button {{'accept' if getRepairAccepted(repID) == False and getRepairCompleted(repID) == False}}{{'print' if getRepairAccepted(repID) == True and getRepairCompleted(repID) == False}}"></button>
					<button class="multi-button {{'deny' if getRepairAccepted(repID) == False and getRepairCompleted(repID) == False}}{{'complete' if getRepairAccepted(repID) == True and getRepairCompleted(repID) == False}}"></button>
				</div>
			</div>
			{% endfor %}

		</section>

		<footer>
		</footer>
	</body>
</html>
