
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:900" rel="stylesheet">



		<link rel="stylesheet" href="static/stylesheet.css">

		<script type="text/javascript" src="hell.js"></script>

		<title>NCHS Auto Shop</title>

	</head>

	<body onload="handleClicks()">
		<header>
		</header>

		<section>
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">2011 Ford Focus</div>
					<div class="vin">1fahp3hn6bw178792</div>
					<div class="customer">Bonta, Matias</div>
				</div>
				<div class="info-wrapper">
					<button class="circle-button"><div class="triangle"></div><div class="tooltip"></div></button>
				</div>
				<div class="button-wrapper">
					<button class="multi-button accept">
						<div class="tooltip"></div>
					</button>
					<button class="multi-button deny">
						<div class="tooltip"></div>
					</button>
				</div>
			</div>

			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">2002 Porsche 911</div>
					<div class="vin">WP0CA29972S650104</div>
					<div class="customer">Rexal, Alexander</div>
				</div>
				<div class="info-wrapper">
					<button class="circle-button"><div class="triangle"></div><div class="tooltip"></div></button>
				</div>
				<div class="button-wrapper">
					<button class="multi-button accept">
						<div class="tooltip"></div>
					</button>
					<button class="multi-button deny">
						<div class="tooltip"></div>
					</button>
				</div>
			</div>

			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">2710 Halley Monte-Carlo</div>
					<div class="vin">thisisnotavinnum0</div>
					<div class="customer">Nobody, Seriously</div>
				</div>
				<div class="info-wrapper">
					<button class="circle-button"><div class="triangle"></div><div class="tooltip"></div></button>
				</div>
				<div class="button-wrapper">
					<button class="multi-button accept">
						<div class="tooltip"></div>
					</button>
					<button class="multi-button deny">
						<div class="tooltip"></div>
					</button>
				</div>
			</div>

			{% for repID in RepairIDs %}
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle"> {{getVehicleYear(getAssociatedVehicle(repID))}} {{getVehicleMake(getAssociatedVehicle(repID))}} {{getVehicleModel(getAssociatedVehicle(repID))}} </div>
					<div class="vin">  {{getVehicleVIN(getAssociatedVehicle(repID))}} </div>
					<div class="customer">  {{getCustomerName(getAssociatedCustomer(repID))}} </div>
				</div>
				<div class="info-wrapper">
					<button class="circle-button"><div class="triangle"></div><div class="tooltip"></div></button>
				</div>
				<div class="button-wrapper">
					<button class="multi-button accept">
						<div class="tooltip"></div>
					</button>
					<button class="multi-button deny">
						<div class="tooltip"></div>
					</button>
				</div>
			</div>
			{% endfor %}

		</section>

		<footer>
		</footer>
	</body>
</html>
