<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:900" rel="stylesheet">

		<link rel="stylesheet" href="static/stylesheet.css">

		<title>NCHS Auto Shop</title>

	</head>

	<body>
		<header>
		</header>

		<section>
			{% for requestData in compliedData %}
			{% if requestData['utilityDerivedDisplayState'] == True %}
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">{{requestData['year']}} {{requestData['make']}} {{requestData['model']}} </div>
					<div class="vin">{{requestData['VIN']}} {{'No VIN Provided' if requestData['VIN'] == ''}}</div>
					<div class="customer">{{requestData['name']}}</div>
					<div class="information">{{requestData['type']}} : {{requestData['description']}}</div>
				</div>
				
				<div class="button-wrapper">
					<form action="/L/{{requestData['utilityIdentifier']}}" method="post">
						<button class="multi-button {{requestData['utilityDerivedLeftState']}}" type="submit"></button>
					</form>
					<form action="/R/{{requestData['utilityIdentifier']}}" method="post">
						<button class="multi-button {{requestData['utilityDerivedRightState']}}" type="submit"></button>
					</form>
				</div>
			</div>
			{% endif %}
			{% endfor %}

		</section>

		<footer>
		</footer>
	</body>
</html>
